// Alert colors

$default: black
$accent: #6A57F9
$accent-hot: #FF0099
$dark-grey: #222337
$white: #fff
$mint-green: #d6e9c6
$dark-green: #00C40D
$black: #000
$pink: #f2dede
$dark-pink: #eed3d7
$red: #b94a48

