{% load static %}

<div class="row">
  {% for book in books %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="libcard">
        <div class="libcard__remove">
          <button
            type="submit" class="btn js-lib-btn"
            data-lib-url="{% url 'users:lib-add-remove-ajax' book.slug %}"
            data-lib-in=1
            data-lib-remonly=true>
            <i class="fal fa-times"></i>
          </button>
        </div>
      {% if book.bookprogress %}
        <a class="libcard__link" href="{% url 'books:bookchapter' book.slug book.bookprogress.c_id %}">
      {% else %}
        {% if book.chapters_count %}
          <a class="libcard__link" href="{% url 'books:bookchapter' book.slug 1 %}">
        {% else %}
          <a class="libcard__link" href="{% url 'books:book' book.slug %}">
        {% endif %}
      {% endif %}
          <div class="libcard__poster">
              <img class="libcard__poster--image" src="{{book.poster.url}}" alt="{{book.title}}">
          </div>
          <div class="libcard__info">
            <div class="libcard__info--title"><h4 class="h4-title-sm">{{book.title}}</h4></div>
            <div class="libcard__info--chaps">
              Progress
              {% if book.bookprogress %}
                {{book.bookprogress.c_id}}
              {% else %}
                0
              {% endif %} / {{book.chapters_count}}</div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
