body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  color: black;
  background-color: #fff; }

body.dark-theme {
  color: rgba(255, 255, 255, 0.75);
  background-color: #222337; }
  body.dark-theme .navbar {
    background-color: #2b2e4a !important; }
    body.dark-theme .navbar .navbar-nav a, body.dark-theme .navbar .navbar-brand {
      color: #fff !important; }
    body.dark-theme .navbar .dropdown-menu {
      background-color: #2b2e4a !important;
      border-color: rgba(255, 255, 255, 0.5); }
      body.dark-theme .navbar .dropdown-menu a {
        color: #fff; }
        body.dark-theme .navbar .dropdown-menu a:hover, body.dark-theme .navbar .dropdown-menu a:active, body.dark-theme .navbar .dropdown-menu a:focus {
          background-color: #FF0099; }
  body.dark-theme .breadcrumb {
    color: #fff; }
  body.dark-theme .btn-dark {
    background-color: #E61A80; }
    body.dark-theme .btn-dark:hover {
      opacity: .9; }
    body.dark-theme .btn-dark:active, body.dark-theme .btn-dark:focus {
      background-color: #FF0099 !important;
      border-color: #E61A80 !important; }
  body.dark-theme .bookchapter__title .h1-title-sm {
    color: rgba(255, 255, 255, 0.9); }
  body.dark-theme .bookchapter__nav--select .chaps > .btn, body.dark-theme .bookchapter__nav--select .bookchapter__styles > .btn {
    color: #fff; }

img {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

li, a, button, .btn, ::-webkit-input-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

li, a, button, .btn, :-ms-input-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

li, a, button, .btn, ::-ms-input-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

li, a, button, .btn, ::placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn:hover, .btn:focus, .btn:active, .form-control:hover, .form-control:focus, .form-control:active {
  -webkit-box-shadow: none;
          box-shadow: none; }

.form-control:active, .form-control:focus {
  border-color: #6A57F9; }
  .form-control:active::-webkit-input-placeholder, .form-control:focus::-webkit-input-placeholder {
    color: #6A57F9; }
  .form-control:active:-ms-input-placeholder, .form-control:focus:-ms-input-placeholder {
    color: #6A57F9; }
  .form-control:active::-ms-input-placeholder, .form-control:focus::-ms-input-placeholder {
    color: #6A57F9; }
  .form-control:active::placeholder, .form-control:focus::placeholder {
    color: #6A57F9; }

a, form a, .btn-link {
  color: #6A57F9;
  text-decoration: none;
  outline: none; }
  a:hover, a:focus, a:active, form a:hover, form a:focus, form a:active, .btn-link:hover, .btn-link:focus, .btn-link:active {
    text-decoration: none;
    outline: none;
    color: #FF0099; }

a.disabled {
  pointer-events: none;
  opacity: .5; }

.breadcrumb {
  background-color: transparent;
  padding: 12px 0;
  padding: 0.75rem 0;
    padding-top: 16px;
    padding-top: 1rem; }
  .breadcrumb li {
    margin: 0;
    padding: 0; }
  .breadcrumb .divider {
    margin: 0 10px;
      margin-left: 7px; }

.fas {
  pointer-events: none; }

.c-grn {
  color: #00C40D; }

.c-rd {
  color: #FF0099; }

.c-wt {
  color: #fff; }

.c-f5 {
  color: #f5f5f5; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #FF0099; }

.scrollbar {
  overflow-y: scroll; }
  .scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5; }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #6A57F9;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.h1-title {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 600; }

.h1-title-sm {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 600; }

.h2-title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600; }

.h2-title-sm {
  font-size: 25.6px;
  font-size: 1.6rem;
  font-weight: 600; }

.h3-title {
  font-size: 24px;
  font-size: 1.5rem; }

.h3-title-sm {
  font-size: 20.8px;
  font-size: 1.3rem; }

.h4-title {
  font-size: 20px;
  font-size: 1.25rem; }

.h4-title-sm {
  font-size: 17.6px;
  font-size: 1.1rem; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

@media only screen and (max-width: 768px) {
  .h1-title {
    font-size: 2.2rem; }
  .h1-title-sm {
    font-size: 1.8rem; }
  .h2-title {
    font-size: 1.7rem; }
  .h2-title-sm {
    font-size: 1.4rem; }
  .h3-title {
    font-size: 1.35rem; }
  .h3-title-sm {
    font-size: 1.2rem; }
  .h4-title {
    font-size: 1.15rem; }
  .h4-title-sm {
    font-size: 1.05rem; } }

.mw-swiper {
  width: 85vw; }
  .mw-swiper .row {
    position: relative; }

.swiper-container {
  width: 100%;
  margin: 0 12px;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.7);
  width: 640px;
  height: 350px; }

.swiper-button-prev {
  left: -32px;
  left: -2rem; }

.swiper-button-next {
  right: -32px;
  right: -2rem; }

.d-lg {
  display: block; }

.d-sm {
  display: none; }

.bookslide {
  display: grid;
  background-color: #2b2e4a;
  grid-template-columns: 240px 1fr;
  grid-gap: 8px;
  padding: 15px 8px;
  border-radius: 5px; }
  .bookslide__hf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .bookslide__title .h2-title-sm, .bookslide__info {
    color: #fff; }
  .bookslide__title .h2-title-sm {
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: 15px; }
  .bookslide__poster img {
    width: 100%;
    height: 320px; }
  .bookslide__info {
    padding: 0 8px; }
    .bookslide__info--desc {
      max-height: 170px;
      overflow-y: hidden; }
      .bookslide__info--desc p {
        font-size: 13.6px;
        font-size: .85rem;
        margin-bottom: 5px; }
    .bookslide__info--rate {
      margin-top: 10px; }
  .bookslide__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto; }
    .bookslide__nav a {
      width: 100%;
      height: 100%;
      z-index: 33; }
      .bookslide__nav a:first-of-type {
        padding-right: 5px; }
      .bookslide__nav a:last-of-type {
        padding-left: 5px; }
      .bookslide__nav a .btn {
        width: 100%;
        outline: none !important; }

.booktag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  font-size: .75rem;
  color: #6A57F9 !important;
  background-color: transparent;
  border: 1px solid #6A57F9;
  border-radius: 14px;
  margin-right: 2px;
  margin-bottom: 5px; }
  .booktag:last-of-type {
    margin-right: 0; }
  .booktag span {
    position: relative;
    top: -1px; }
  .booktag:hover, .booktag:focus, .booktag:active {
    color: white !important;
    background-color: #6A57F9;
    border: 1px solid #6A57F9; }

.bookranking__cards__card:nth-of-type(1) .rankcard__rank {
  color: #A77300;
  background-color: #F8C030; }

.bookranking__cards__card:nth-of-type(2) .rankcard__rank {
  color: #3D5F74;
  background-color: #B0D3E6; }

.bookranking__cards__card:nth-of-type(3) .rankcard__rank {
  color: #997931;
  background-color: #DDC690; }

.rankcard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px 10px;
  border-radius: 4px;
  margin-bottom: 30px; }
  .rankcard__rank {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    font-size: 44.8px;
    font-size: 2.8rem;
    font-weight: bold;
    border-radius: 4px 0 0 0; }
  .rankcard__poster {
    margin: 0 auto;
      margin-bottom: 15px; }
    .rankcard__poster img {
      width: 150px;
      height: 200px; }
  .rankcard__info {
    padding: 0 20px;
    margin-bottom: 20px; }
    .rankcard__info .h2-title-sm {
      font-size: 20px;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      margin-bottom: 15px; }
    .rankcard__info .stars-rating-sm {
      text-align: center; }
  .rankcard__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .rankcard__nav .fas {
      font-size: 12.8px;
      font-size: .8rem;
      padding-right: 5px; }
    .rankcard__nav form:nth-of-type(2) {
      margin-top: 10px; }
    .rankcard__nav form a .btn {
      margin: 0;
      padding: 0; }
    .rankcard__nav a, .rankcard__nav form a .btn, .rankcard__nav form:first-of-type {
      text-align: center;
      width: 50%;
      margin-bottom: 10px; }
      .rankcard__nav a:last-of-type, .rankcard__nav form a .btn:last-of-type, .rankcard__nav form:first-of-type:last-of-type {
        margin-bottom: 0; }
      .rankcard__nav a .btn, .rankcard__nav form a .btn .btn, .rankcard__nav form:first-of-type .btn {
        width: 100%; }

.rankcard-wide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 30px 40px;
  border-radius: 4px;
  margin-bottom: 30px; }
  .rankcard-wide__rank {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 44.8px;
    font-size: 2.8rem;
    font-weight: bold;
    color: black; }
    .rankcard-wide__rank span {
      line-height: .7;
      padding-top: 10px;
      padding-left: 15px; }
  .rankcard-wide__poster {
    margin: 0 20px; }
    .rankcard-wide__poster img {
      width: 90px;
      height: 120px; }
  .rankcard-wide__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 0; }
    .rankcard-wide__info .h2-title-sm {
      font-size: 22.4px;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: .7;
      margin-bottom: 10px; }
    .rankcard-wide__info .stars-rating-sm {
      margin-bottom: 20px; }
    .rankcard-wide__info--nav .fas {
      font-size: 12.8px;
      font-size: .8rem;
      padding-right: 5px;
      display: none; }
    .rankcard-wide__info--nav form {
      display: inline-block;
      position: relative;
      top: -1px; }
      .rankcard-wide__info--nav form a .btn {
        margin: 0;
        padding: 0; }
    .rankcard-wide__info--nav a, .rankcard-wide__info--nav form a .btn {
      color: #6A57F9; }
      .rankcard-wide__info--nav a:hover, .rankcard-wide__info--nav a:active, .rankcard-wide__info--nav a:focus, .rankcard-wide__info--nav form a .btn:hover, .rankcard-wide__info--nav form a .btn:active, .rankcard-wide__info--nav form a .btn:focus {
        color: #FF0099; }
    .rankcard-wide__info--nav > span {
      opacity: .5;
      padding: 0 6px; }
  .rankcard-wide__nav {
    margin-left: auto;
    -ms-flex-item-align: center;
        align-self: center; }
    .rankcard-wide__nav--votes {
      font-size: 17.6px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center; }
    .rankcard-wide__nav .fas {
      font-size: 12.8px;
      font-size: .8rem;
      padding-right: 5px; }
    .rankcard-wide__nav a.disabled {
      display: block; }
    .rankcard-wide__nav a, .rankcard-wide__nav form:nth-of-type(2), .rankcard-wide__nav a.disabled:last-of-type {
      display: none; }
    .rankcard-wide__nav form:nth-of-type(2) {
      margin-top: 10px; }
    .rankcard-wide__nav form a .btn {
      margin: 0;
      padding: 0; }
    .rankcard-wide__nav a, .rankcard-wide__nav form a .btn, .rankcard-wide__nav form:first-of-type {
      text-align: center;
      width: 165px;
      margin-bottom: 10px; }
      .rankcard-wide__nav a .btn, .rankcard-wide__nav form a .btn .btn, .rankcard-wide__nav form:first-of-type .btn {
        width: 100%; }
      .rankcard-wide__nav a:last-of-type, .rankcard-wide__nav form a .btn:last-of-type, .rankcard-wide__nav form:first-of-type:last-of-type {
        margin-bottom: 0; }

.tag-card {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }
  .tag-card:last-of-type {
    margin-right: 0; }
  .tag-card a {
    color: black;
    display: block;
    outline: none; }

.tag-card.active {
  border-bottom: 4px solid #6A57F9; }

.stars-rating-sm {
  max-height: 15px;
  margin: 10px 0; }
  .stars-rating-sm img {
    max-width: 100%;
    width: 15px;
    height: 15px;
    vertical-align: top; }
  .stars-rating-sm span {
    vertical-align: top;
    font-size: 14.4px;
    font-size: .9rem;
    padding-left: 5px;
    position: relative;
    top: -3px; }

.libcard {
  position: relative;
  margin-bottom: 30px; }
  .libcard__remove {
    position: absolute;
    right: 0;
    top: 5px;
    right: 5px;
    z-index: 1; }
    .libcard__remove a .btn {
      font-size: 17.6px;
      font-size: 1.1rem;
      border-radius: 0;
      border: 0;
      color: #fff;
      background-color: #6A57F9; }
      .libcard__remove a .btn:hover, .libcard__remove a .btn:focus, .libcard__remove a .btn:active {
        background-color: #fff;
        color: #FF0099; }
  .libcard__link {
    display: block;
    color: black; }
    .libcard__link:hover, .libcard__link:active, .libcard__link:focus {
      color: #6A57F9; }
  .libcard__poster {
    position: relative;
    display: block;
    max-width: 100%; }
    .libcard__poster--image {
      width: 100%;
      height: 300px; }
  .libcard__info--title {
    margin-top: 6px; }
    .libcard__info--title .h4-title-sm {
      margin-bottom: 4px; }
  .libcard__info--chaps {
    opacity: .7;
    font-size: 15.2px;
    font-size: .95rem; }

.browsebooks__books .book-lg-wide {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-gap: 10px;
  margin-bottom: 20px; }
  .browsebooks__books .book-lg-wide a {
    color: black; }
    .browsebooks__books .book-lg-wide a:hover, .browsebooks__books .book-lg-wide a:active, .browsebooks__books .book-lg-wide a:focus {
      color: black; }
  .browsebooks__books .book-lg-wide__poster {
    background-color: white; }
    .browsebooks__books .book-lg-wide__poster--image {
      display: block;
      width: 100%;
      height: 215px;
      max-width: 100%; }
  .browsebooks__books .book-lg-wide__info--title {
    margin: 0;
      margin-bottom: 16px;
      margin-bottom: 1rem; }
  .browsebooks__books .book-lg-wide__info--tags {
    max-height: 30px;
    overflow-y: hidden; }
    .browsebooks__books .book-lg-wide__info--tags .booktag:first-of-type {
      color: #FF0099 !important;
      border-color: #FF0099 !important; }
      .browsebooks__books .book-lg-wide__info--tags .booktag:first-of-type:hover, .browsebooks__books .book-lg-wide__info--tags .booktag:first-of-type:focus, .browsebooks__books .book-lg-wide__info--tags .booktag:first-of-type:active {
        background-color: #FF0099 !important;
        color: #fff !important; }
  .browsebooks__books .book-lg-wide__info--desc {
    font-size: 16px;
    font-size: 1rem;
    height: 75px;
    overflow-y: hidden; }

.browsetags {
  margin-top: 30px; }
  .browsetags__tag-nav {
    margin-bottom: 30px; }
    .browsetags__tag-nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }

.book {
  margin-top: 30px; }
  .book .bookhead {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-gap: 20px;
    margin-bottom: 30px; }
    .book .bookhead a {
      color: black; }
      .book .bookhead a:hover, .book .bookhead a:active, .book .bookhead a:focus {
        color: black; }
    .book .bookhead__poster {
      width: 100%; }
      .book .bookhead__poster--image {
        display: block;
        width: 100%;
        min-height: 380px;
        max-height: 450px; }
    .book .bookhead__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .book .bookhead__info--row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 15px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .book .bookhead__info--row .info-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          .book .bookhead__info--row .info-row p {
            margin: 0;
              margin-right: 20px;
            border-radius: 12px; }
            .book .bookhead__info--row .info-row p:last-of-type {
              margin-right: 0; }
        .book .bookhead__info--row .stars-rating-sm {
          margin: 0; }
      .book .bookhead__info--tags {
        font-size: 14.4px;
        font-size: .9rem;
        margin-bottom: 13px; }
        .book .bookhead__info--tags .booktag:first-of-type {
          color: #FF0099 !important;
          border-color: #FF0099 !important; }
          .book .bookhead__info--tags .booktag:first-of-type:hover, .book .bookhead__info--tags .booktag:first-of-type:focus, .book .bookhead__info--tags .booktag:first-of-type:active {
            background-color: #FF0099 !important;
            color: #fff !important; }
      .book .bookhead__info--read {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .book .bookhead__info--read form a .btn {
          color: #fff;
          background-color: #343a40;
          border-color: #343a40; }
          .book .bookhead__info--read form a .btn:hover, .book .bookhead__info--read form a .btn:active, .book .bookhead__info--read form a .btn:focus {
            background-color: #212427;
            border-color: #212427; }
        .book .bookhead__info--read a {
          display: block; }
        .book .bookhead__info--read > a {
          margin-right: 10px; }
        .book .bookhead__info--read .btn {
          display: block;
          font-size: 19.2px;
          font-size: 1.2rem;
          padding: 10px 30px; }
        .book .bookhead__info--read .fas {
          font-size: 16px;
          font-size: 1rem;
          padding-right: 10px; }
  .book .bookbody__tabs .tab-content {
    margin-top: 20px; }
  .book .bookbody__tabs--desc p {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 11.2px;
    margin-bottom: .7rem; }
  .book .bookbody__tabs--chaps .chap-latest {
    margin-top: 10px;
    margin-bottom: 10px; }
    .book .bookbody__tabs--chaps .chap-latest span {
      padding-right: 5px; }
    .book .bookbody__tabs--chaps .chap-latest a {
      color: #6A57F9; }
      .book .bookbody__tabs--chaps .chap-latest a:hover, .book .bookbody__tabs--chaps .chap-latest a:active, .book .bookbody__tabs--chaps .chap-latest a:focus {
        color: black; }
  .book .bookbody__tabs--chaps .chap-volume {
    position: relative;
    display: block;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px; }
  .book .bookbody__tabs--chaps .chap-nav-card {
    float: left;
    width: 50%;
    padding: 5px; }
    .book .bookbody__tabs--chaps .chap-nav-card:nth-of-type(odd) {
      padding-left: 0; }
    .book .bookbody__tabs--chaps .chap-nav-card:nth-of-type(even) {
      padding-right: 0; }
    .book .bookbody__tabs--chaps .chap-nav-card a {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-gap: 0 5px;
      border: 1px solid #6A57F9;
      border-radius: 8px;
      color: black; }
      .book .bookbody__tabs--chaps .chap-nav-card a:hover, .book .bookbody__tabs--chaps .chap-nav-card a:active, .book .bookbody__tabs--chaps .chap-nav-card a:focus {
        color: #fff;
        background-color: #6A57F9; }
      .book .bookbody__tabs--chaps .chap-nav-card a span {
        padding-top: 5px; }
        .book .bookbody__tabs--chaps .chap-nav-card a span:first-of-type {
          grid-column-start: 1;
          grid-row-start: 1;
          font-weight: bold;
          padding-left: 10px; }
        .book .bookbody__tabs--chaps .chap-nav-card a span:last-of-type {
          grid-column-start: 2;
          padding-right: 10px; }
      .book .bookbody__tabs--chaps .chap-nav-card a small {
        padding-bottom: 5px;
        grid-column-start: 2; }
  .book .bookbody__vote {
    margin: 50px 0;
    padding: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15); }
    .book .bookbody__vote--ranking {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .book .bookbody__vote--ranking .fas {
        color: #6A57F9;
        font-size: 32px;
        font-size: 2rem;
        margin: 0 16px;
        margin: 0 1rem; }
      .book .bookbody__vote--ranking span:first-of-type {
        font-size: 40px;
        font-size: 2.5rem;
        margin-right: 5px; }
      .book .bookbody__vote--ranking span:last-of-type {
        font-size: 12.8px;
        font-size: .8rem;
        opacity: .8; }
    .book .bookbody__vote--vote {
      text-align: center; }
      .book .bookbody__vote--vote form, .book .bookbody__vote--vote > a {
        width: 190px;
        max-width: 100%; }
        .book .bookbody__vote--vote form .btn, .book .bookbody__vote--vote > a .btn {
          width: 100%;
          line-height: 1.3; }
          .book .bookbody__vote--vote form .btn span, .book .bookbody__vote--vote > a .btn span {
            font-size: 17.6px;
            font-size: 1.1rem;
            font-weight: bold; }
          .book .bookbody__vote--vote form .btn small, .book .bookbody__vote--vote > a .btn small {
            font-size: 12px;
            font-size: .75rem;
            display: block !important; }

.bookchapter__nav--select .chaps > .btn, .bookchapter__nav--select .bookchapter__styles > .btn {
  background-color: transparent;
  border-color: transparent; }
  .bookchapter__nav--select .chaps > .btn:hover, .bookchapter__nav--select .bookchapter__styles > .btn:hover {
    opacity: .9; }
  .bookchapter__nav--select .chaps > .btn:focus, .bookchapter__nav--select .chaps > .btn:active, .bookchapter__nav--select .bookchapter__styles > .btn:focus, .bookchapter__nav--select .bookchapter__styles > .btn:active {
    opacity: .5; }

.bookchapter__title .h1-title-sm {
  font-size: 30.4px;
  font-size: 1.9rem; }

.bookchapter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
    margin-bottom: 50px; }
  .bookchapter__nav--link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .bookchapter__nav--link:nth-of-type(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .bookchapter__nav--link .btn {
      padding: 4px 22px; }
      .bookchapter__nav--link .btn .fas {
        font-size: 19.2px;
        font-size: 1.2rem; }
  .bookchapter__nav--select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 10px;
    padding: 0;
    max-width: 320px; }
    .bookchapter__nav--select .chaps--volume {
      display: inline-block;
      color: black;
      font-weight: bold;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 6px; }
      .bookchapter__nav--select .chaps--volume:first-of-type {
        padding-top: 5px; }
    .bookchapter__nav--select .chaps--nav.dblock {
      display: block; }
    .bookchapter__nav--select .chaps--nav.active {
      opacity: 1;
      margin-top: 10px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .bookchapter__nav--select .chaps--nav {
      display: none;
      opacity: 0;
      width: 100%;
      min-height: 50px;
      max-height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 5px 0;
      z-index: 20;
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      background-color: #fff; }
      .bookchapter__nav--select .chaps--nav li {
        padding-bottom: 2px;
        width: 100%;
        white-space: nowrap; }
        .bookchapter__nav--select .chaps--nav li a {
          display: block;
          padding: 7px 10px;
          color: black;
          font-size: 14.4px;
          font-size: .9rem;
          -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out; }
          .bookchapter__nav--select .chaps--nav li a:hover, .bookchapter__nav--select .chaps--nav li a:focus, .bookchapter__nav--select .chaps--nav li a:active {
            color: #fff;
            background-color: #6A57F9; }
      .bookchapter__nav--select .chaps--nav li.active a {
        color: #fff;
        background-color: #6A57F9; }

.bookchapter__styles {
  position: relative; }
  .bookchapter__styles .fas {
    pointer-events: none; }
  .bookchapter__styles .styles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 35px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none; }
    .bookchapter__styles .styles .btn {
      margin-right: 5px; }
      .bookchapter__styles .styles .btn:last-of-type {
        margin-right: 0; }
  .bookchapter__styles .styles.visible {
    visibility: visible;
    opacity: 1;
    left: 55px;
    pointer-events: auto; }

.bookchapter__title .h1-title-sm {
  margin-bottom: 40px; }

.bookchapter__body p {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.booksearch {
  margin-bottom: 30px; }
  .booksearch__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .booksearch__form--form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-flex: 1;
          -ms-flex: 1 100%;
              flex: 1 100%; }
      .booksearch__form--form label {
        display: none; }
      .booksearch__form--form .form-group {
        width: 100%; }
        .booksearch__form--form .form-group .form-control {
          font-size: 20.8px;
          font-size: 1.3rem;
          border-radius: 0; }
    .booksearch__form--btn .btn {
      padding: 10px 30px;
      border-radius: 0; }
  .booksearch__formresult > p {
    margin: 0;
    font-size: 19.2px;
    font-size: 1.2rem; }
    .booksearch__formresult > p b {
      padding-left: 5px; }

.searchcard-sm, .searchcard-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  color: black;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 1px solid transparent; }
  .searchcard-sm:hover, .searchcard-sm:active, .searchcard-sm:focus, .searchcard-lg:hover, .searchcard-lg:active, .searchcard-lg:focus {
    color: #6A57F9;
    background-color: #fff;
    border-color: #6A57F9; }
  .searchcard-sm__counter span, .searchcard-lg__counter span {
    font-weight: bold;
    line-height: 1; }
  .searchcard-sm__info, .searchcard-lg__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.searchcard-sm {
  max-width: 460px;
  min-height: 1em;
  margin-bottom: 10px;
  padding: 7px 10px; }
  .searchcard-sm__counter span {
    font-size: 24px;
    font-size: 1.5rem; }
  .searchcard-sm__poster img {
    margin: 0 20px;
      margin-right: 10px;
    width: 40px;
    height: 50px; }
  .searchcard-sm__info .h2-title-sm {
    font-size: 20.8px;
    font-size: 1.3rem; }

.searchcard-lg {
  min-height: 2em;
  margin-bottom: 20px;
  padding: 15px 10px; }
  .searchcard-lg__counter span {
    font-size: 32px;
    font-size: 2rem; }
  .searchcard-lg__poster {
    margin: 0 20px; }
    .searchcard-lg__poster img {
      width: 90px;
      height: 120px; }
  .searchcard-lg__info--stars {
    padding-right: 20px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .mw-swiper {
    width: 91vw; }
  .swiper-button-prev {
    left: -1.5rem; }
  .swiper-button-next {
    right: -1.5rem; }
  .book .bookhead__info--row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .book .bookhead__info--row .info-row {
      margin-bottom: 10px; }
  .rankcard__rank {
    padding: 0 15px;
    font-size: 2rem; }
  .rankcard__info .h2-title-sm {
    font-size: 1.10rem; }
  .libcard__poster--image {
    height: 250px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .browsebooks__books .book-lg-wide {
    grid-template-columns: 1fr; }
    .browsebooks__books .book-lg-wide__poster--image {
      height: 440px; }
    .browsebooks__books .book-lg-wide__info--desc {
      height: 100px; }
  .book .bookhead__info--row .info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .book .bookhead__info--read .btn {
    font-size: 1.1rem;
    padding: 8px 25px; }
  .book .bookbody__tabs--chaps .chap-volume {
    display: block;
    width: 100%; }
  .book .bookbody__tabs--chaps .chap-nav-card {
    display: block;
    float: none;
    width: 100%;
    padding: 5px 0; }
  .bookranking__cards__card:nth-of-type(1) {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  .rankcard {
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto; }
    .rankcard__rank {
      padding: 0 18px;
      font-size: 2.2rem; }
    .rankcard__info .h2-title-sm {
      font-size: 1.3rem; }
  .rankcard-wide__info .h2-title-sm {
    font-size: 1.3rem; }
  .rankcard-wide__nav--votes {
    font-size: 1.1rem; }
  .rankcard-wide__nav a {
    width: 155px; }
  .libcard__poster--image {
    height: 420px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0; }
  .mw-swiper {
    width: 100vw; }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 10px; }
  .swiper-button-prev {
    left: 10px;
    display: none; }
  .swiper-button-next {
    right: 10px;
    display: none; }
  .browsebooks__books .book-lg-wide {
    margin-bottom: 30px; }
    .browsebooks__books .book-lg-wide__poster--image {
      height: auto;
      max-height: 750px; }
  .book .bookhead {
    grid-template-columns: 1fr; }
    .book .bookhead__poster--image {
      display: block;
      height: auto;
      max-height: 750px; }
    .book .bookhead__info--row .info-row {
      display: block;
      font-size: .9rem; }
      .book .bookhead__info--row .info-row p {
        display: inline-block; }
    .book .bookhead__info--tags {
      margin-bottom: 20px; }
    .book .bookhead__info--read .btn {
      width: 100%;
      font-size: 1rem;
      padding: 10px 23px; }
    .book .bookhead__info--read .fas {
      font-size: .9rem; }
  .book .bookbody__tabs--chaps .chap-latest {
    display: inline-grid;
    grid-template-columns: auto auto; }
    .book .bookbody__tabs--chaps .chap-latest small {
      grid-column-start: 2; }
  .book .bookbody__vote {
    margin: 40px 0;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .book .bookbody__vote--ranking .fas {
      font-size: 1.5rem;
      margin: 0 10px; }
    .book .bookbody__vote--ranking span:first-of-type {
      font-size: 1.8rem; }
    .book .bookbody__vote--vote form, .book .bookbody__vote--vote > a {
      width: 160px; }
      .book .bookbody__vote--vote form .btn span, .book .bookbody__vote--vote > a .btn span {
        font-size: 1rem; }
      .book .bookbody__vote--vote form .btn small, .book .bookbody__vote--vote > a .btn small {
        font-size: .7rem; }
  .rankcard__rank {
    padding: 0 16px;
    font-size: 2rem; }
  .rankcard__info .h2-title-sm {
    font-size: 1.15rem; }
  .rankcard-wide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto; }
    .rankcard-wide__rank {
      font-size: 2rem; }
      .rankcard-wide__rank span {
        line-height: 1.6; }
    .rankcard-wide__poster {
      margin: 0 auto;
        margin-bottom: 15px; }
      .rankcard-wide__poster img {
        width: 150px;
        height: 200px; }
    .rankcard-wide__info {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .rankcard-wide__info .h2-title-sm {
        font-size: 1.15rem;
        line-height: 1.6;
        margin-bottom: 15px; }
      .rankcard-wide__info .stars-rating-sm {
        margin-top: 0; }
      .rankcard-wide__info--nav {
        display: none; }
    .rankcard-wide__nav {
      margin: 0; }
      .rankcard-wide__nav--votes {
        font-size: 1.1rem; }
      .rankcard-wide__nav a, .rankcard-wide__nav form:nth-of-type(2), .rankcard-wide__nav a.disabled:last-of-type {
        display: block; }
      .rankcard-wide__nav a, .rankcard-wide__nav form a .btn, .rankcard-wide__nav form:first-of-type {
        width: 170px; }
  .libcard__poster--image {
    height: 340px; }
  .libcard__info--chaps {
    font-size: .9rem; }
  .bookchapter__title .h1-title-sm {
    font-size: 1.7rem; }
  .bookchapter__nav {
    position: relative; }
    .bookchapter__nav--select {
      position: absolute;
      max-width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0; }
      .bookchapter__nav--select .chaps--nav.active {
        margin-top: 15px; }
      .bookchapter__nav--select .chaps--nav {
        width: calc(100% - 12px);
        min-width: 100%; }
  .bookchapter__styles .styles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 2rem;
    left: 0; }
    .bookchapter__styles .styles .btn {
      margin: 0;
        margin-bottom: 5px; }
  .bookchapter__styles .styles.visible {
    top: 3rem;
    left: 0; }
  .bookchapter__title .h1-title-sm {
    margin-bottom: 30px; }
  .booksearch__form--form .form-group .form-control {
    font-size: 1rem; }
  .booksearch__form--btn .btn {
    padding: 6px 30px;
    border-radius: 0; }
  .searchcard-sm__counter span {
    font-size: 1.2rem; }
  .searchcard-sm__poster img {
    margin: 0 12px;
      margin-right: 10px; }
  .searchcard-sm__info .h2-title-sm {
    font-size: 1.15rem; }
  .searchcard-lg__poster img {
    width: 60px;
    height: 80px; }
  .searchcard-lg__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .searchcard-lg__info--stars {
      padding-right: 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 660px) {
  .breadcrumb {
    font-size: .9rem; }
  .d-lg {
    display: none !important; }
  .d-sm {
    display: block !important; }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -5px; }
  .swiper-container {
    padding: 30px 20px; }
  .swiper-slide.bookslide {
    width: 100%;
    height: 285px; }
  .bookslide {
    grid-template-columns: 120px 1fr;
    grid-template-rows: 160px 1fr;
    padding: 8px; }
    .bookslide__title .h2-title-sm {
      font-size: 1.15rem;
      margin-bottom: 15px; }
    .bookslide__poster {
      width: 100%;
      margin-right: 8px; }
      .bookslide__poster img {
        width: 100%;
        height: 160px; }
    .bookslide__info.d-sm {
      grid-column: 1/3; }
    .bookslide__info {
      padding: 0; }
      .bookslide__info--desc {
        max-height: 85px; }
    .bookslide__nav a .btn {
      font-size: .9rem;
      padding: 6px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .container {
    padding: 0 15px; }
  .libcard__poster--image {
    height: auto;
    max-height: 660px; }
  .libcard__info--chaps {
    font-size: .9rem; }
  .book .bookhead__info--read > a {
    width: 50%; }
  .book .bookhead__info--read form {
    width: 50%; }
  .book .bookhead__info--read .btn {
    width: 100%;
    font-size: .9rem;
    padding: 10px 16px; }
  .book .bookbody__vote {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .book .bookbody__vote--ranking {
      margin-bottom: 1rem; }
      .book .bookbody__vote--ranking .fas {
        font-size: 1.5rem;
        margin: 0 10px; }
      .book .bookbody__vote--ranking span:first-of-type {
        font-size: 1.8rem;
        margin-right: 5px; }
    .book .bookbody__vote--vote form, .book .bookbody__vote--vote > a {
      width: 260px;
      max-width: 100%; }
      .book .bookbody__vote--vote form .btn, .book .bookbody__vote--vote > a .btn {
        width: 100%; }
        .book .bookbody__vote--vote form .btn span, .book .bookbody__vote--vote > a .btn span {
          font-size: 1rem; }
        .book .bookbody__vote--vote form .btn small, .book .bookbody__vote--vote > a .btn small {
          font-size: .7rem; }
  .bookchapter__title .h1-title-sm {
    font-size: 1.4rem; }
  .bookchapter__body p {
    font-size: .9rem; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .breadcrumb {
    font-size: .8rem; }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 0; }
  .swiper-container {
    padding: 30px 8px; }
  .swiper-slide.bookslide {
    height: 263px; }
  .bookslide {
    grid-template-columns: 110px 1fr;
    padding: 8px; }
    .bookslide__title .h2-title-sm {
      font-size: 1rem; }
    .bookslide__info--desc {
      max-height: 80px; }
      .bookslide__info--desc p {
        font-size: .8rem; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
