{% extends "base.html" %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Chapter {{bookchapter.c_id}} - {{bookchapter.title}}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb b_chap.book.title b_chap.book.get_absolute_url %}
    {% breadcrumb b_chap.title b_chap.get_absolute_url %}
{% endblock %}

{% block content %}
<div class="container">
  {% include 'components/csrf_gen_form.html' %}

  {% render_breadcrumbs %}

  <div class="bookchapter">

    <div class="bookchapter__nav">
      <div class="bookchapter__nav--link">
        <a href="{{prev_chap.absolute_url}}" {% if prev_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">
            <i class="far fa-long-arrow-left"></i>
          </button>
        </a>
      </div>
      <div class="bookchapter__nav--link">
        <a href="{{next_chap.absolute_url}}" {% if next_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">
            <i class="far fa-long-arrow-right"></i>
          </button>
        </a>
      </div>

      <div class="bookchapter__nav--select">
        <div class="chaps">
          <button class="chaps--toggle btn" id="chaps-toggle"><i class="fas fa-list"></i></button>
          <ul class="chaps--nav scrollbar" id="chaps-nav">
            {% if not b_chap.book.volumes %}
              <span class="chaps--volume">Volume 1</span>
            {% endif %}
            {% for chap in b_chaps %}
              {% with loop_counter=forloop.counter %}
                {% if b_chap.book.volumes|length >= 1 %}
                  {% for volume in b_chap.book.volumes %}
                    {% if loop_counter == volume %}
                      <span class="chaps--volume">Volume {{forloop.counter}}</span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <li {% if request.path == chap.absolute_url %}class="active" id="activeChap"{% endif %}>
                  <a href="{{chap.absolute_url}}">
                    <span>#{{chap.c_id}}: {{chap.title}}</span>
                  </a>
                </li>
              {% endwith %}
            {% endfor %}
          </ul>
        </div>

        {% with bookchapter=b_chap %}
          {% include 'books/lib-bookmark-btn-ajax.html' %}
        {% endwith %}

        <div class="bookchapter__styles chap-styles">
          <button class="btn" id="toggleStyles">
            <i class="fas fa-cog"></i>
          </button>
          <div class="styles" id="stylesCollapse">
            <button
              class="btn btn-dark js-theme" id="lightTheme"
              data-theme-url="{% url 'books:session-theme-ajax' %}"
              data-theme-color="tm-color-light">
              <i class="fas fa-sun"></i>
            </button>
            <button
              class="btn btn-dark js-theme" id="darkTheme"
              data-theme-url="{% url 'books:session-theme-ajax' %}"
              data-theme-color="tm-color-dark">
              <i class="fas fa-moon"></i>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="bookchapter__title">
      <h1 class="h1-title-sm">Chapter {{b_chap.c_id}}: {{b_chap.title}}</h1>
    </div>

    <div class="bookchapter__body">
      {{b_chap.text|safe}}
    </div>

    <div class="bookchapter__nav">
      <div class="bookchapter__nav--link">
        <a href="{{prev_chap.absolute_url}}" {% if prev_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">
            <i class="far fa-long-arrow-left"></i>
          </button>
        </a>
      </div>
      <div class="bookchapter__nav--link">
        <a href="{{next_chap.absolute_url}}" {% if next_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">
            <i class="far fa-long-arrow-right"></i>
          </button>
        </a>
      </div>
    </div>

  </div>

</div> <!-- Container -->
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/bookchapter.js' %}"></script>
{% endblock javascript %}
