{% extends "base.html" %}

{% load static %}

{% block title %}
  {% if request.resolver_match.url_name == 'genre-list' %}
    Genres
  {% else %}
    {% for bookgenre in bookgenres %}
      {% if request.path == bookgenre.get_absolute_url %}
        {{bookgenre.name}}
      {% endif %}
    {% endfor %}
  {% endif %}
   - {{block.super}}
{% endblock %}

{% block content %}
  <div class="browsebooks mt-30">
    <h1 class="browsebooks__title h1-title">
      {% if request.resolver_match.url_name == 'genre-list' %}
        All Genres
      {% else %}
        {% for bookgenre in bookgenres %}
          {% if request.path == bookgenre.get_absolute_url %}
            {{bookgenre.name}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </h1>
    <div class="browsebooks__filters">
    </div>
    <div class="browsebooks__books">
      {% include 'books/book_lg_wide_list.html' %}
    </div>
  </div>


{% endblock content %}
