{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="browsetags">
    <div class="browsetags__title">
      <h1 class="h1-title">
        {% if request.resolver_match.url_name == 'tag-list' %}
          All Tags
        {% else %}
          {{tag.name}}
        {% endif %}
      </h1>
    </div>
    <div class="browsetags__tag-nav ">
      <!--       <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
        Button with data-target
      </button> class="collapse" id="collapseTags" -->
      <nav>
        <ul>
          {% for tag in tags %}
            <li class="tag-card{% if request.path == tag.get_absolute_url %} active{% endif %}">
              <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

  <div class="browsebooks">
    <div class="browsebooks__books">
      {% include 'books/book_lg_wide.html' %}
    </div>
  </div>

{% endblock content %}
