{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %}{{book.title}} - {{block.super}}{% endblock %}

{% block content %}

{% include 'components/csrf_gen_form.html' %}

<div class="container">

  <div class="book mt-30">

    <div class="bookhead">
      <div class="bookhead__poster">
        <img class="bookhead__poster--image" src="{{book.poster_url}}" alt="{{book.title}}">
      </div>
      <div class="bookhead__info">
        <div class="bookhead__info--title">
          <h1 class="h1-title-sm">{{book.title}}</h1>
        </div>
        <div class="bookhead__info--row">
          <div class="info-row">
            <p>Author: {% for author in book.author %}<span>{{author}}</span>{% endfor %}</p>
            {% if book.country %}
              <p>Country: {{book.country}}</p>
            {% endif %}
            <p>Chapters: {{book.chapters}}</p>
            <p>Views: 0</p>
            <p class="info-row--status">Status:
              {% if book.status_release == 0 %}
                {% if book.chapters_release != 0 %}
                  <span class="c-grn">{{book.chapters_release}} chs / week</span>
                {% else %}
                  <span class="c-grn">Ongoing</span>
                {% endif %}
              {% else %}
                <span class="c-rd">Completed</span>
              {% endif %}
            </p>
          </div>
          <div class="stars-rating-sm">
            <img src="{% static 'images/star.png' %}" alt="star">
            <img src="{% static 'images/star.png' %}" alt="star">
            <img src="{% static 'images/star.png' %}" alt="star">
            <img src="{% static 'images/star.png' %}" alt="star">
            <img src="{% static 'images/half-star.png' %}" alt="star">
            <span>{{book.rating}}</span>
          </div>
        </div>
        <div class="bookhead__info--tags">
          <a class="booktag" href="{{book.bookgenre.get_absolute_url}}">
            <span>{{book.bookgenre.name}}</span>
          </a>
          {% for booktag in book.booktag.all %}
            <a class="booktag" href="{{booktag.get_absolute_url}}">
              <span>{{booktag.name}}</span>
            </a>
          {% endfor %}
        </div>
        <div class="bookhead__info--read">
          {% if user_auth %}

            {% if book_prog %}
              <a href="{% url 'books:bookchapter' book_slug=book.slug c_id=book_prog.c_id %}">
                <button type="button" class="btn btn-dark">Continue Reading</button>
              </a>
            {% else %}
              {% if first_chap %}
                <a href="{% url 'books:bookchapter' book_slug=book.slug c_id=first_chap.c_id %}">
                  <button type="button" class="btn btn-dark">Read</button>
                </a>
              {% endif %}
            {% endif %}
            {% include 'books/lib-btn-ajax.html' %}

          {% else %}

            {% if first_chap %}
              <a href="{% url 'books:bookchapter' book_slug=book.slug c_id=first_chap.c_id %}">
                <button type="button" class="btn btn-dark">Read</button>
              </a>
            {% endif %}
            {% include 'books/lib-btn-ajax.html' %}

          {% endif %}
        </div>
      </div>
    </div>

    <div class="bookbody">
      <div class="bookbody__tabs">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Table of Contents</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="bookbody__tabs--desc">
              {{book.description|safe}}
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="bookbody__tabs--chaps">
              <div class="chap-latest">
                <span>Latest release:</span>
                <a href="{{last_chap.get_absolute_url}}">
                  <span>{{last_chap.title}}</span>
                </a>
                <small>{{last_chap.created|naturaltime}}</small>
              </div>
              {% for bookchapter in bookchapters %}
                {% with loop_counter=forloop.counter %}
                  {% if book.volumes|length >= 1 %}
                    {% for volume in book.volumes %}
                      {% if loop_counter == volume %}
                        <div class="chap-volume"><span>Volume {{forloop.counter}}</span></div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <div class="chap-nav-card">
                    <a href="{{bookchapter.get_absolute_url}}">
                      <span>{{bookchapter.c_id}}</span>
                      <span>{{bookchapter.title}}</span>
                      <small>{{ bookchapter.created|date:"M d, Y" }}</small>
                    </a>
                  </div>
                {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="bookbody__vote">
        <div class="bookbody__vote--title">
          <h2 class="h2-title">Ranking</h2>
        </div>
        <div class="votecard">
          <div class="votecard--ranking">
            <i class="fas fa-poll-h"></i>
            <span>123</span>
            <span>th</span>
          </div>
          <div class="votecard--ranking">
            <i class="fas fa-vote-yea"></i>
            <span class="js-bvotes">{{book.votes}}</span>
            <span>votes</span>
          </div>
          <div class="votecard--vote">
            {% include 'books/vote-btn-ajax.html' %}
          </div>
        </div>
      </div>

      <div class="bookbody__review">
        <div class="bookbody__review--title">
          <h2 class="h2-title">Reviews</h2>
        </div>
      </div>
      <div class="bookbody__promo">
        <div class="bookbody__promo--title">
          <h2 class="h2-title">You might also like</h2>
        </div>
      </div>

    </div>
  </div>

</div> <!-- Container -->
{% endblock content %}
