{% extends "base.html" %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Chapter {{bookchapter.c_id}} - {{bookchapter.title}}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bookchapter.book.title bookchapter.book.get_absolute_url %}
    {% breadcrumb bookchapter.title bookchapter.get_absolute_url %}
{% endblock %}

{% block content %}
<div class="container">

  {% render_breadcrumbs %}

  <div class="bookchapter">

    <div class="bookchapter__nav">
      <div class="bookchapter__nav--link">
        <a href="{{prev_chap.get_absolute_url}}" {% if prev_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">Prev</button>
        </a>
      </div>
      <div class="bookchapter__nav--link">
        <a href="{{next_chap.get_absolute_url}}" {% if next_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">Next</button>
        </a>
      </div>

      <div class="bookchapter__nav--select">
        <div class="chaps">
          <button class="chaps--toggle btn btn-light" id="chaps-toggle"><i class="fas fa-list"></i></button>
          <ul class="chaps--nav scrollbar" id="chaps-nav">
            {% for chapter in bookchapters %}
              {% with loop_counter=forloop.counter %}
                {% if chapter.book.volumes|length >= 1 %}
                  {% for volume in chapter.book.volumes %}
                    {% if loop_counter == volume %}
                      <span class="chaps--volume">Volume {{forloop.counter}}</span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <li {% if request.path == chapter.get_absolute_url %}class="active" id="activeChap"{% endif %}>
                  <a href="{{chapter.get_absolute_url}}">
                    <span>#{{chapter.c_id}}: {{chapter.title}}</span>
                  </a>
                </li>
              {% endwith %}
            {% endfor %}
          </ul>
        </div>
        <div class="bookchapter__styles">
          <div class="btn btn-light"  data-toggle="collapse" data-target="#collapseChapterStyles" aria-expanded="false" aria-controls="collapseChapterStyles">
            <i class="fas fa-cog"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="bookchapter__styles">
      <div class="collapse" id="collapseChapterStyles">
        <div class="card card-body" id="chapStyles">
          Styles:
          <button id="light-theme">Light</button>
          <button id="dark-theme">Dark</button>
        </div>
      </div>
    </div>

    <div class="bookchapter__title">
      <h1 class="h1-title-sm">Chapter {{bookchapter.c_id}}: {{bookchapter.title}}</h1>
    </div>

    <div class="bookchapter__body">
      {{bookchapter.text|safe}}
    </div>

    <div class="bookchapter__nav">
      <div class="bookchapter__nav--link">
        <a href="{{prev_chap.get_absolute_url}}" {% if prev_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">Prev</button>
        </a>
      </div>
      <div class="bookchapter__nav--link">
        <a href="{{next_chap.get_absolute_url}}" {% if next_chap == None %}class="disabled"{% endif %}>
          <button type="button" class="btn btn-dark">Next</button>
        </a>
      </div>
    </div>

  </div>

</div> <!-- Container -->
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    //if (document.getElementById('something')).
    let chapToggle = document.getElementById('chaps-toggle');
    let chapNav = document.getElementById('chaps-nav');
    let activeChap = document.getElementById('activeChap')

    function toggleElem(e) {
      e.preventDefault();
      chapNav.classList.toggle('dblock');
      setTimeout(() => {
        chapNav.classList.toggle('active');
      }, 10)
      activeChap.scrollIntoView(false);
    }

    function closeElem(e) {
      if (chapNav.classList.contains('active')) {
        if (e.target !== chapToggle) {
          chapNav.classList.toggle('dblock');
          setTimeout(() => {
            chapNav.classList.toggle('active');
          }, 10)
        }
      }
      return false
    }

    chapToggle.addEventListener('click', toggleElem);
    document.body.addEventListener('click', closeElem)

  </script>
  <script type="text/javascript">
    let pos = localStorage.getItem('chap_scroll', 0)
    let pos_url = localStorage.getItem('chap_url', '')

    window.onscroll = () => {
      const offset = 100;
      let scrollTop = window.pageYOffset;
      localStorage.setItem('chap_scroll', scrollTop);
      localStorage.setItem('chap_url', location.pathname)
    }

    if (pos_url === location.pathname) {
      window.scrollTo({
        top: pos,
        left: 0,
        behavior: 'smooth'
      });
    }
  </script>
  <script type="text/javascript">
    const styles = document.body.querySelector('#chapStyles')
    const lt = document.getElementById('light-theme');
    const dt = document.getElementById('dark-theme');
    let theme = localStorage.getItem('theme', '')

    if (theme === 'light') {
      setDomTheme('light');
    } else if (theme === 'dark') {
      setDomTheme('dark');
    }

    function setDomTheme(theme) {
      body = document.body;
      if (theme == 'dark') {
        if (body.classList.contains('light-theme')) {
          body.classList.remove('light-theme');
          body.classList.add('dark-theme')

        }
      } else {
        if (body.classList.contains('dark-theme')) {
          body.classList.remove('dark-theme');
          body.classList.add('light-theme')
        }
      }
    }

    function setStorageTheme(e) {
      e.preventDefault();
      if (e.target === lt) {
        localStorage.setItem('theme', 'light')
        setDomTheme('light');
      } else if (e.target === dt) {
        localStorage.setItem('theme', 'dark')
        setDomTheme('dark');
      }
      return false
    }

    styles.addEventListener('click', setStorageTheme)

  </script>
{% endblock javascript %}
