{% extends "base.html" %}

{% load static %}

{% block title %}{{page_title}} - {{block.super}}{% endblock %}

{% block content %}
<div class="container">

  <div class="booksearch mt-30">
    <div class="booksearch__title">
      <h1 class="h1-title">{{page_title}}</h1>
    </div>
    <div class="booksearch__form">

      <form method="post" action="{% url 'books:search' %}" class="booksearch__form--form">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
              <label for="{{field.id_for_label}}">{{field.label}}</label>
              {{field}}
              {% for error in field.errors %}
                  <p class="alert-error">{{error}}</p>
              {% endfor %}
          </div>
        {% endfor %}
        <div class="booksearch__form--btn">
            <button type="submit" class="btn btn-dark">Search</div></button>
        </div>
      </form>

      <div class="booksearch__formresult">
        {% if s_result %}<p>{{s_result|safe}}</p>{% endif %}
        {% for book in books %}
          <a href="{{book.get_absolute_url}}" class="searchcard-lg">
            <div class="searchcard-lg__counter"><span>{{forloop.counter}}</span></div>
            <div class="searchcard-lg__poster">
              <img src="{{book.poster_url}}" alt="{{book.title}}">
            </div>
            <div class="searchcard-lg__info">
              <h2 class="h2-title-sm">{{book.title}}</h2>
              <div class="searchcard-lg__info--stars stars-rating-sm">
                <img src="{% static 'images/star.png' %}" alt="star">
                <img src="{% static 'images/star.png' %}" alt="star">
                <img src="{% static 'images/star.png' %}" alt="star">
                <img src="{% static 'images/star.png' %}" alt="star">
                <img src="{% static 'images/half-star.png' %}" alt="star">
                <span>{{book.rating}}</span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </div>
  </div>

</div> <!-- Container -->
{% endblock content %}
