{% extends "base.html" %}
{% block title %}Home - {{block.super}}{% endblock %}
{% block content %}
    <div class="frontpage__promo mt-30">
      <div class="container text-center">
        <h1 class="h1-title">{{promo_title}}</h1>
        <p>{{promo_subtitle}}</p>
        {% if not user.is_authenticated %}
          <div class="btn-grp">
            <a href="{% url 'account_login' %}" class="btn btn-light">
              <span>Sign In</span>
            </a>
            <a href="{% url 'account_signup' %}" class="btn btn-light">
              <span>Sign Up</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  <div class="container-fluid mw-swiper">
    <div class="row">

      <div class="swiper-container">
        <div class="swiper-wrapper">

        {% for book in books %}
          <div class="swiper-slide bookslide">
            <div class="bookslide__hf">
              <div class="bookslide__poster">
                <img src="{{book.poster_url}}" alt="{{book.title}}">
              </div>
            </div>
            <div class="bookslide__hf">
              <div class="bookslide__title"><h2 class="h2-title-sm">{{book.title}}</h2></div>
              <div class="bookslide__info d-lg">
                <div class="bookslide__info--desc">
                  {{book.description|safe}}
                </div>
                <!--
                  <div class="bookslide__info--rate">
                    <span>{{book.rating}} votes {{book.votes}}</span>
                  </div>
                -->
              </div>
              <div class="bookslide__nav">
                {% with f_bc=book.bookchapters.first.c_id %}
                  {% if f_bc %}
                    <a href="{% url 'books:bookchapter' book_slug=book.slug c_id=f_bc %}">
                      <button type="button" class="btn btn-light">Read</button>
                    </a>
                  {% endif %}
                  <a href="{{book.get_absolute_url}}">
                    <button type="button" class="btn btn-light">More</button>
                  </a>
                {% endwith %}
              </div>
            </div>
            <div class="bookslide__info d-sm">
              <div class="bookslide__info--desc">
                {{book.description|safe}}
              </div>
            </div>
          </div>
        {% endfor %}

        </div> <!-- Slide wrapper -->

        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->


      </div> <!-- Slider container -->
      <div class="swiper-button-prev text-right">
        <i class="fal fa-chevron-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fal fa-chevron-right"></i>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="frontpage__latest"></div>
  </div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
{% endblock %}
